.coder-chat-markdown {
  position: relative;
  padding: 4px 12px;
  height: fit-content;
  max-height: 80vh;
  overflow-y: auto;
  border-radius: 6px;
  background-color: rgba(55, 63, 93, 0.8);
  mix-blend-mode: difference;
  color: #fff;
  &:not(code) * {
    font-size: 14px;
    box-sizing: content-box;
    padding: initial;
  }
  ol,
  ul,
  dl {
    padding: 0 0 0 40px !important;
    margin-block-start: 1em !important;
    margin-block-end: 1em !important;
  }
  p,
  pre {
    margin-block-start: 1em !important;
    margin-block-end: 1em !important;
  }
  .coder-chat-markdown-code {
    border-radius: 4px;
    .coder-chat-markdown-code-language {
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-color: rgba(47, 47, 47, 0.96);
      padding: 8px 12px;
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
      position: relative;
      z-index: 1;
    }
    .coder-chat-markdown-code-copy {
      svg {
        display: inline-block;
        width: 18px;
        height: 18px;
        line-height: 1;
        &:hover {
          path {
            fill: rgba(66, 102, 247, 0.85);
          }
        }
      }
    }
  }
}
.coder-chat-toolbar {
  margin-top: 12px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  column-gap: 8px;
  padding: 4px;
  .coder-chat-toolbar-icon {
    svg {
      &:hover {
        path {
          fill: rgba(66, 102, 247, 0.85);
        }
      }
    }
  }
}
