.coder-chat-markdown {
  position: relative;
  padding: 0 12px;
  height: fit-content;
  max-height: 80vh;
  overflow-y: auto;
  border-radius: 6px;
  background-color: rgba(241, 240, 240, 0.45);
  .coder-chat-markdown-code {
    border-radius: 4px;
    .coder-chat-markdown-code-language {
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-color: rgba(47, 47, 47, 0.96);
      color: #fff;
      padding: 8px 12px;
      border-top-left-radius: 4px;
      border-top-right-radius: 4px;
    }
    .coder-chat-markdown-code-icon {
      color: #fff;
    }
  }
}
