.coder-chat-markdown {
  position: relative;
  padding: 0 12px;
  height: fit-content;
  max-height: 80vh;
  overflow-y: auto;
  border-radius: 6px;
  background-color: rgba(241, 240, 240, 0.45);
  pre > div {
    border-radius: 4px;
  }
}
